<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Automatic backups to the member's iCloud (CloudBackupService / ICloudBackupStore).
	     The container must exist in the Apple developer account for zm.co.tickethost.vbank. -->
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.zm.co.tickethost.vbank</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.zm.co.tickethost.vbank</string>
	</array>
</dict>
</plist>
